[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettytable = "*"
python-dotenv = "*"
tabulate = "*"
ynab-api = {ref = "nullfix", git = "https://github.com/dmlerner/ynab-api.git"}
pillow = "*"
pytesseract = "*"
imutils = "*"
opencv-python = "*"
dateparser = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
