[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cardvisionpy = {ref = "main", git = "git@github.com:afwolfe/cardvisionpy.git" }
dateparser = "*"
imutils = "*"
opencv-python = "*"
pillow = "*"
prettytable = "*"
pytesseract = "*"
python-dotenv = "*"
tabulate = "*"
ynab-api = {ref = "nullfix", git = "https://github.com/dmlerner/ynab-api.git"}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
