[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cardvisionpy = {ref = "main", git = "https://github.com/afwolfe/cardvisionpy.git" }
python-dotenv = "*"
tabulate = "*"
ynab-api = {ref = "nullfix", git = "https://github.com/dmlerner/ynab-api.git"}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
